/* UTILITY CLASS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.left-floated {
  float: left;
}

.no-bullet-list {
  list-style-type: none;
}

.no-decoration-link {
  text-decoration: none;
}

.pad-15 {
  padding: 15px;
}

.pad-top-5 {
  padding-top: 5px;
}

.pad-top-10 {
  padding-top: 7px;
}

.pad-top-15 {
  padding-top: 15px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-top-25 {
  padding-top: 25px;
}

.pad-bot-20 {
  padding-bottom: 20px;
}

.pad-rig-5 {
  padding-right: 5px;
}

.pad-rig-10 {
  padding-right: 10px;
}

.pad-rig-15 {
  padding-right: 15px;
}

.pad-rig-25 {
  padding-right: 25px;
}

.mar-rig-10 {
  margin-right: 10px;
}

.text-white {
  color: white;
}

.text-grey {
  color: grey;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.font-8 {
  font-size: 8px;
}

.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

h2 {
  font-size: 18px;
}

.full-height-img {
  height: 100%;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.white-hover:hover {
  color: white;
}

.main-item {
  width: calc(100% / 6 - 10px);
}

.item-img {
  width: 100%;
  position: relative;
}

.item-img img {
  width: 100%;
  vertical-align: middle;
}

.start-playing {
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.item-img:hover .start-playing {
  display: block;
}

.big-play-icon {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-icon {
  font-size: 12px;
}

.total-time {
  width: 100%;
  background-color: #5a5a5a;
  height: 3px;
  border-radius: 10px;
}

.total-time:hover {
  cursor: pointer;
}

.elapsed-time {
  background-color: #c1c1c1;
  height: 3px;
  border-radius: 10px;
}

.perc-20 {
  width: 20%;
}

.total-time:hover .elapsed-time {
  background-color: #ADFF2F;
}

.time-travel {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  display: none;
}

.total-time:hover .time-travel {
  display: block;
}
/* end UTILITY CLASS */

.page-wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
}

.side-main-container {
  height: calc(100% - 70px);
  overflow-y: hidden;
}

/* Sidebar */
nav {
  background-color: #000;
  width: 150px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

nav .spotify-logo {
  height: 27px;
  margin-bottom: 20px;
}

.nav-top > #spotify-nav ul li:first-child:before,
.nav-top > #spotify-nav ul li:active:before {
  content: '';
  display: block;
  height: 27px;
  background-color: #ADFF2F;
  width: 2px;
  position: absolute;
  left: 0;
  transform: translate(0, -4px);
}

.nav-top > #spotify-nav ul .spotify-nav-img {
  height: 20px;
  vertical-align: middle;
}

.nav-top > #playlist-nav ul {
  max-height: 35vh;
  overflow-y: auto;
}

.nav-top > #playlist-nav .playlist-add {
  background-color: #A3A3A3;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 4px;
}

.nav-top > #playlist-nav .playlist-create:hover .playlist-add {
  background-color: white;
}

.nav-top > #playlist-nav .playlist-add div:first-child {
  border-top: 2px solid black;
  width: 40%;
  position: relative;
  bottom: 3px;
  left: 2px;
}

.nav-top > #playlist-nav .playlist-add div:nth-child(2) {
  border-right: 2px solid black;
  height: 40%;
  position: relative;
  right: 7px;
  top: 2px;
}

nav > #profile .app-install:after {
  content: '';
  display: inherit;
  border-bottom: 1px solid white;
  margin: 8px 0;
}

nav > #profile .app-install .install-icon {
  height: 11px;
  line-height: 10px;
  vertical-align: middle;
  margin-right: 4px;
}

nav > #profile .account {
  font-weight: bold;
}

nav > #profile .account .profile-icon {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  background-color: #A3A3A3;
  border-radius: 50%;
  background-image: url('../img/profile.svg');
  background-size: cover;
  margin-right: 4px;
}
/* end Sidebar */

.main-wrapper {
  width: calc(100% - 150px);
  height: calc(100% - 70px);
}

/* Barra superiore */
header {
  background-color: rgba(8, 11, 18, .98);
  width: calc(100% - 150px);
  height: 70px;
  line-height: 70px;
  position: fixed;
  z-index: 1001;
  overflow-y: auto;
  text-align: right;
}

header .upgrade-button {
  border: 1px solid #fff;
  border-radius: 15px;
  font-size: 12px;
  padding: 10px 30px;
}

header .upgrade-button:hover {
  padding: 12px 35px;
}
/* end Barra superiore */

main {
  background-color: #141922;
  height: 100%;
  overflow-y: auto;
  margin-top: 70px;
}

main > .main-navigation {
  margin: 0 auto;
}

main > .main-navigation li {
  padding-right: 15px;
}

main > .main-navigation li:first-child {
  position: relative;
}

main > .main-navigation li:first-child:after {
  content: '';
  display: inline-block;
  border-bottom: 2px solid #ADFF2F;
  width: 40%;
  position: absolute;
  bottom: -2px;
  right: 30px;
}

/* Sezione Recent */

/* end Sezione Recent */

/* Sezione Personalized */

/* end Sezione Personalized */

/* Sezione Popular */
main > #popular .main-item .item-img img,
main > #popular .main-item .item-img .start-playing {
  border-radius: 50%;
}
/* end Sezione Popular */

/* Player */
footer {
  background-color: #282828;
  height: 70px;
  line-height: 24px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

footer > .player-left,
footer > .player-right {
  width: 15%;
}

footer > .player-left .now-playing {
  height: 30px;
}

footer > .player-left .now-playing-title {
  font-size: 7px;
  line-height: 0;
}

footer > .player-left .now-playing-title:hover {
  text-decoration: underline;
}

footer > .player-left .now-playing-icons {
  padding-left: 25px;
}

footer > .player-left .now-playing-author {
  line-height: 2.5;
}

footer > .player-middle {
  flex-direction: column;
  flex-grow: .5;
}

footer > .player-middle .player-commands {
  align-items: center;
  justify-content: center;
}

footer > .player-middle .player-commands .player-play-icon {
  font-size: 28px;
}

footer > .player-middle .player-commands .player-play-icon:hover {
  transform: scale(1.2);
}

footer > .player-middle .time-bar {
  align-items: center;
}

footer > .player-middle .time-bar .media-time {
  padding-left: 15px;
}

footer > .player-right .options {
  align-items: center;
}
/* end Player */

/* Versione md */
@media screen and (max-width: 991px) {
  .main-item {
    width: calc(100% / 4 - 10px);
  }

  .main-item:nth-child(n+5) {
    padding-top: 10px;
  }

  main > .main-navigation {
    line-height: 40px;
  }

  main > .main-navigation li:first-child:after {
    transform: translate(0, -13px);
  }

  main > #popular .item-img img,
  main > #popular .item-img .start-playing {
    border-radius: 0;
  }

  footer > .player-middle {
    flex-direction: column;
    flex-grow: .5;
  }

}
/* end Versione md */

/* Versione sm */
@media screen and (max-width: 767px) {
  .main-item {
    width: calc(100% / 2 - 10px);
  }

  .main-item:nth-child(n+3) {
    padding-top: 10px;
  }

  footer > .player .player-left .now-playing-icons {
    line-height: 100%;
  }

  footer > .player .player-left .now-playing-icons a {
    display: block;
  }
}
/* end Versione sm */
